html {
    font-size: inherit;
    box-sizing: border-box;
}

:root {
    --primary: #98c379;
    --secondary: #d19a66;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    margin: 0px;
    overflow: hidden;
    color: #abb2bf;
    background: #262831;
}